<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include('src/views/partials/head.ejs'); %>

    </head>
    <body id="page-top">
        
    <%- include('src/views/partials/header.ejs'); %>
    <%- include('src/views/partials/sub_question_card.ejs'); %>
    <%- include('src/views/partials/obj_question_card.ejs'); %>
    <%- include('src/views/partials/footer.ejs'); %>

    </body>
</html>
