<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include('partials/head.ejs'); %>

    </head>
    <body id="page-top">
        
    <%- include('partials/header.ejs'); %>

    <%- include('partials/sub_question_card.ejs'); %>

    <%- include('partials/obj_question_card.ejs'); %>

    <%- include('partials/footer.ejs'); %>


    </body>
</html>
