<!doctype html>
<html lang="en">
  <head>

    <%- include('partials/head.ejs'); %>

    <title>Code Learning App</title>

  </head>
  <body>

    <%- include('partials/header.ejs'); %>


    <% let count = 1; %>
    <% for (var i = 0 ; i < codes.length ; i++) { %>

    <div class="container bg-dark card my-4">
        <div class="card-body">
          <span class="badge bg-light text-primary"><%= codes[i].codeLang %></span>
          <br/>
          <!-- <h5 class="card-title"><%= codes[i].codeTitle %></h5> -->
          <code class="card-text"><%- codes[i].codeCode
            .replace(new RegExp(" ", 'g'), "&nbsp;")
            .replace(new RegExp("<", 'g'), "&lt;")
            .replace(new RegExp("\n", 'g'), "<br>")
            .replace(new RegExp("\t", 'g'), "&nbsp;&nbsp;&nbsp;&nbsp;"); %></code>
        </div>
      </div>

      <% count++; } %>


    <%- include('partials/footer.ejs'); %>


</body>

</html>